{% load static %}
<!DOCTYPE html>
<html>
<head lang="tr">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Skorun Kaç?{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.0/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>

</head>
<body>


<div class="text-center mt-4">

<a href="/" style="font-family: 'Cutive Mono', monospace; font-weight: 900">
    <img src="{% static 'logo.png' %}" width="10%">
</a>

</div>


{% block content %}
{% endblock %}

<p></p>

{% block js %}
{% endblock %}

</body>
</html>
