{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="container">

        <div class="text-center justify-content-center">

            <div class="row mt-4 mb-4 mx-auto">

                {% with ''|center:paginator.num_pages as range %}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                    {% for _ in range %}
                        <li class="page-item {% if forloop.counter == page_no %}active{% else %}disabled{% endif %}"><a class="page-link">{{ forloop.counter }}</a></li>
                    {% endfor %}
                    </ul>
                </nav>
                {% endwith %}
            </div>

        </div>

        <div class="row">

            <form method="post" id="qForm" class="w-100">

                {% csrf_token %}

                {% for question in page.object_list %}

                    <div class="row mb-4">

                        {% if poll.gender == 'f' and question.question_f %}

                            {{ question.question_f }}

                        {% else %}

                            {{ question.question }}

                        {% endif %}

                    </div>

                    <div class="row mb-5 w-100">

                        <div class="btn-group btn-group-toggle d-flex w-100 justify-content-center" data-toggle="buttons">

                            {% for value, text in answer_form.answer.field.choices %}

                            <label class="btn btn-outline-info w-100 align-items-center justify-content-center">
                                <input type="radio" name="{{ question.id }}" value="{{ value }}" autocomplete="off">
                                <div class="mt-2 mb-2">
                                    {{ text }}
                                </div>
                            </label>

                            {% endfor %}

                        </div>

                    </div>

                {% endfor %}

                <button type="submit" id="x" class="btn btn-primary btn-lg float-right mt-4">Ileri</button>

            </form>

         </div>

    </div>

{% endblock %}
