{% extends "base.html" %}


{% block content %}

    <div class="container">

        <div class="row">

            <p class="display-4 mt-10">Bir oturum secin</p>

        </div>

        <div class="row">

            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <select name="session" class="form-control form-control-lg">
                        {% for session in sessions %}
                            <option value="{{ session.id }}">{{ session.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary btn-lg">Giriş</button>

            </form>

         </div>

    </div>

{% endblock %}
