{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="container">

        <div class="row">

            <p class="display-4 mt-10">{{ session.name }}</p>

            SKORUN KAÇ oyunumuza hoşgeldin!

            <p class="">
                Kadın ve erkeğin toplumdaki, iş hayatındaki, evde ve aile içinde yeri, karşılıklı ilişkileri konusunda ne
                düşünüyorsun, nasıl davranıyorsun?
            </p>

            <p class="">
                Bu test<sup>*</sup> SENİN bu konulardaki tutum ve davranışlarına, algına AYNA tutmayı amaçlıyor.
            </p>

            <p class="">
                Başlamadan önce kısaca tanışabilir miyiz?
            </p>

            <p class="">
                <sup>*</sup> Bu testi hazırlarken PROMUNDO’nun GEMS ölçeğinden, KONDA Araştırma Şirketinin soru bankasından ve
                Hale Bolak Boratav, Güler Okman Fişek, Hande Eslen Ziya’nın Erkekliğin Türkiye Halleri, 2018 çalışmasından faydalandık.
            </p>

        </div>

        <div class="row">

            <form method="post">

                {% csrf_token %}

                {{ form|crispy }}

                <button type="submit" class="btn btn-primary btn-lg">Giriş</button>

            </form>

         </div>

    </div>

{% endblock %}
