{% extends "base.html" %}
{% load crispy_forms_tags static %}


{% block content %}

    <div class="container px-4">

        <div class="row">

            <h2 class="mt-5">
                SKORUN KAÇ oyunumuza hoşgeldin!
                <small class="text-muted">{{ session.name }}</small>
            </h2>



            <p class="lead">
                Kadın ve erkeğin toplumdaki, iş hayatındaki, evde ve aile içindeki yeri, karşılıklı ilişkileri konusunda ne
                düşünüyorsun, nasıl davranıyorsun?
                Bu test<sup>*</sup> SENİN bu konulardaki tutum ve davranışlarına, algına AYNA tutmayı amaçlıyor.
            </p>

            <p class="lead">
                Fikirlerini açık ve samimi bir şekilde ifade etmen amacımızı gerçekleştirmek açısından büyük önem taşıyor.

                Testte kimliğini ortaya çıkaracak hiçbir soru yok. Tek tek kişilerin değil genel olarak insanların ne düşündüğünü, nasıl davrandığını anlamak istiyoruz.
            </p>

            <div class="text-center w-100">
                <p class="lead">
                    <span class="small">Teknosa'nın katkılarıyla</span>
                    <br>
                    <img src="{% static "teknosa.png" %}" style="height: 2em">
                </p>
            </div>

            <p class="lead small">
                <sup>*</sup> Bu testi hazırlarken PROMUNDO’nun GEMS ölçeğinden, KONDA Araştırma Şirketinin soru bankasından ve
                Hale Bolak Boratav, Güler Okman Fişek, Hande Eslen Ziya’nın Erkekliğin Türkiye Halleri, 2018 çalışmasından faydalandık.
            </p>


            <h4 class="mt-4">
                Başlamadan önce kısaca tanışabilir miyiz?
            </h4>


        </div>

        <div class="row">

            <form method="post">

                {% csrf_token %}

                {{ form|crispy }}

                <button type="submit" class="btn btn-primary btn-lg">Başla</button>

            </form>

         </div>

    </div>

{% endblock %}
